# Server Port
PORT=3000

# Environment (development | production)
NODE_ENV=development

# Database URL for Prisma (SQLite in this assignment)
DATABASE_URL="file:./dev.db"

# JWT Secrets - Use secure strings in production
JWT_SECRET="finance-api-super-secret-key-2026"
JWT_REFRESH_SECRET="finance-api-refresh-secret-key-2026"
